spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/registration_system
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: none      # 因为你用 init.sql 初始化好了
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080